/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
	background: #f7f7f9;
	width: 0.08rem; /* 纵向滚动条滑块宽度 */
	height: 0.09rem; /* 横向滚动条滑块宽度 */
}
::-webkit-scrollbar-track-piece {
	/*滚动条背景颜色*/
	background: #f7f7f9;
}
::-webkit-scrollbar-thumb {
	/* 滑块 */
	border-radius: 0.1rem;
	background: #e5e5e5;
}
// 也可以单独设置横向滚动条和纵向滚动条的背景颜色
::-webkit-scrollbar-thumb:vertical {
	/* 纵向滑块 */
	background: #e5e5e5;
}
::-webkit-scrollbar-thumb:horizontal {
	/* 横向滑块 */
	background: #e5e5e5;
}
